<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>554628567938-vq81tkvnlfujopttksphdj2ave626vep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554628567938-vq81tkvnlfujopttksphdj2ave626vep</string>
	<key>API_KEY</key>
	<string>AIzaSyASzTCHnzVV7pnvsU9T08r-kATJbu4Y9WM</string>
	<key>GCM_SENDER_ID</key>
	<string>554628567938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zhewang.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-a7d14</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-a7d14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554628567938:ios:e85d420dd42e9a91</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-a7d14.firebaseio.com</string>
</dict>
</plist>